<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>My CRUD</title>

    <!--css-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>   

<body>
    <!-- header -->
    <header id="site-header">
        <div class="navbar navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Olympic games</a>
                    <a href="/events" class="navbar-brand">Events</a>
                    <a href="/events/create" class="navbar-brand">Create an Event</a>
                </div>
            </div>    
        </div>   
    </header>  
    
    <!--  main  -->
    <main id="site-main">
        <div class="container">
            <%- body %>
        </div>
    </main>
    
    <!-- footer -->
    <footer id="site-footer">
        Copyright &copy; 2018 Football
    </footer>   

</body>    

</html>    
